* {
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
a {
  cursor: pointer;
}
::placeholder {
  font-weight: normal;
}
input {
  border: 1px #C9D3DB solid;
  border-radius: 0.3em;
  padding: 0.1em 0.3em 0.1em 0.3em;
}
button.btn-blue {
  background-color: #55A3F6;
  border-radius: 0.6em;
  color: white;
  border: none;
  outline: none;
  margin-top: 15px;
  height: 50px;
  width: 100%;
}
a {
  text-decoration: none !important;
  color: #C9D3DB;
  transition: color 0.75s ease;
}
a:hover {
  color: #55A3F6;
}
a.active {
  color: #55A3F6;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.loading {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: white;
}
.loading i {
  font-size: 3em;
}
.sidebar {
  display: block;
  flex: 0.05;
  height: 100%;
  color: #C9D3DB;
  border-right: 1px #e8ecef solid;
}
.sidebar > .sidebar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar > .sidebar-wrapper > .brand {
  font-size: 2em;
  text-align: center;
  flex: 0.05;
}
.sidebar > .sidebar-wrapper > .user-sidebar {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar > .sidebar-wrapper > .user-sidebar > a {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sidebar > .sidebar-wrapper > .user-sidebar > a > .text-icon {
  font-size: 0.8em;
}
.sidebar > .sidebar-wrapper > .user-sidebar > a > i {
  font-size: 1.5em;
}
.sidebar > .sidebar-wrapper > .user-sidebar > .user-profile {
  position: relative;
}
.sidebar > .sidebar-wrapper > .user-sidebar > .user-profile > .disconnect-user {
  position: absolute;
  z-index: 10000;
  color: red;
  right: 0;
  top: -0.5em;
  cursor: pointer;
}
.sidebar > .sidebar-wrapper > .user-sidebar > .user-profile > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.sidebar > .sidebar-wrapper > .user-sidebar > .user-profile > a > img {
  width: 2em;
  height: 2em;
  border-radius: 2em;
}
.sidebar > .sidebar-wrapper > ul {
  flex: 0.9;
  text-decoration: none;
  list-style: none;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sidebar > .sidebar-wrapper > ul > li {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sidebar > .sidebar-wrapper > ul > li > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.sidebar > .sidebar-wrapper > ul > li > a > i {
  font-size: 1.5em;
}
.sidebar > .sidebar-wrapper > ul > li > a > .text-icon {
  font-size: 0.8em;
}
.side-sidebar {
  transition: all 1s ease;
  flex: 0.4;
  border-right: 1px #e8ecef solid;
}
.side-sidebar > .wrapper-side-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.side-sidebar > .wrapper-side-sidebar > .heading-side {
  flex: 0.1;
  text-align: center;
  width: 100%;
  background: linear-gradient(to right, #189bff, #40c8e8);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
}
.side-sidebar > .wrapper-side-sidebar > .heading-side a {
  color: white;
  flex: 0.2;
}
.side-sidebar > .wrapper-side-sidebar > .heading-side a:hover {
  color: white;
}
.side-sidebar > .wrapper-side-sidebar > .heading-side > .heading-title {
  flex: 0.8;
}
.side-sidebar > .wrapper-side-sidebar > .content-side {
  flex: 0.9;
  display: flex;
  flex-direction: column;
}
.side-sidebar > .wrapper-side-sidebar > .content-side > h1 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #5a5d82;
}
.profile-picture {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.profile-picture > .profile-avatar {
  position: relative;
}
.profile-picture > .profile-avatar > #new_avatar_file {
  position: absolute;
  border-radius: 100%;
  top: 0px;
  min-height: 10em;
  min-width: 10em;
  max-height: 10em;
  max-width: 10em;
  opacity: 0;
}
.profile-picture > .profile-avatar img {
  min-width: 10em;
  min-height: 10em;
  max-width: 10em;
  max-height: 10em;
  border-radius: 100%;
}
.profile-picture > .profile-nickname {
  color: black;
}
.profile-picture > .profile-description {
  margin-top: 0.5em;
  color: #C9D3DB;
  font-size: 0.9em;
}
.profile-picture > .profile-detailled {
  position: relative;
  flex: 1;
  margin-top: 1em;
  display: block;
  background-color: #f4f5f7;
  width: 100%;
  padding: 1em;
}
.profile-picture > .profile-detailled > .edit-field > input {
  width: 100%;
  height: 1em;
  outline: 0;
  border: none;
  border-radius: 0;
  padding: 0;
}
.profile-picture > .profile-detailled > .edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  cursor: pointer;
}
.profile-picture > .profile-detailled > h1 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #5a5d82;
}
.login-side {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
  text-align: center;
}
.login-side > h1 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #5a5d82;
}
.login-side > .action-group {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  color: #C9D3DB;
  font-size: 0.9em;
}
.login-side > .action-group > .remember-action {
  flex: 0.5;
}
.login-side > .action-group > .remember-action > input:after {
  content: " ";
  background-color: #55A3F6 !important;
  display: inline-block;
  visibility: visible;
}
.login-side > .action-group > .create-account {
  flex: 0.5;
}
.login-side > .action-group > .create-account > a {
  color: #55A3F6 !important;
  font-size: 0.8em;
}
.login-side > .social-group {
  display: flex;
  flex-direction: row;
  color: #C9D3DB;
  font-size: 0.9em;
  margin-top: 30px;
}
.login-side > .social-group > .social-txt {
  flex: 0.5;
}
.login-side > .social-group > .social-list {
  display: flex;
  flex: 0.5;
  flex-direction: row;
}
.login-side > .social-group > .social-list > .social-circle {
  text-align: center;
  line-height: 2.5em;
  color: #5a5d82;
  border: 1.5px #C9D3DB solid;
  margin-right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  cursor: pointer;
}
.top-left-dialog {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.ngdialog {
  overflow: hidden;
}
.ngdialog-content {
  background-color: white !important;
  border-radius: 2px !important;
  width: 600px !important;
}
.form-group > .input-group {
  position: relative;
  border-bottom: 1px solid #e8ecef;
}
.form-group > .input-group > .top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.form-group > .input-group > .top-right > a {
  color: #55A3F6 !important;
  font-size: 0.8em;
}
.form-group > .input-group > .input-group-addon {
  background-color: white !important;
  border: none;
  color: #e8ecef;
}
.form-group > .input-group > input {
  width: 100%;
  border: none !important;
  color: #9baebc !important;
}
.modal-single-ua > .ngdialog-content {
  width: 80% !important;
}
.modal-single-ua > .ngdialog-content > #singleUA {
  display: flex;
  flex-direction: column;
}
.modal-single-ua > .ngdialog-content > #singleUA > .socialUA {
  display: flex;
  flex-direction: row;
}
.modal-single-ua > .ngdialog-content > #singleUA > .socialUA > iframe {
  padding: 1px;
}
.modal-single-ua > .ngdialog-content > #singleUA > .ua-title {
  text-align: center;
  border-bottom: 1px #e8ecef solid;
}
.modal-single-ua > .ngdialog-content > #singleUA > .ua-description {
  padding: 0.1em;
}
#myUA > .content-side > .list-ua {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#myUA > .content-side > .list-ua > .ua-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  padding: 1em;
  border-bottom: 1px #e8ecef solid;
}
#myUA > .content-side > .list-ua > .ua-row > .row-title {
  flex: 0.5;
}
#myUA > .content-side > .list-ua > .ua-row > .row-date {
  flex: 0.4;
}
#myUA > .content-side > .list-ua > .ua-row > .row-edit {
  flex: 0.1;
}
#map {
  transition: all 0.5s ease;
  flex: 1;
}
#map > div > .map-filter-box {
  position: absolute;
  cursor: initial;
  top: 10px;
  right: 10px;
  max-width: 200px;
  min-width: 200px;
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  padding: 13px 19px;
  line-height: 1.4;
  text-align: center;
  z-index: 10000;
}
#map > div > .map-filter-box > .heading {
  text-transform: uppercase;
  border-bottom: 1px #e8ecef solid;
}
#map > div > .map-filter-box > .filter-list {
  padding: 1em;
  list-style: none;
}
#map > div > .map-filter-box > .filter-list > li > label {
  display: inherit;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: inherit;
}
#map > div > .map-filter-box > .filter-list > li > label > .checkbox {
  display: none;
}
#map > div > .map-filter-box > .filter-list > li > label > .fakeCheckbox {
  height: 10px;
  width: 10px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}
#map > div > .map-filter-box > .filter-list > li > label > [type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;
}
input:focus {
  border: none !important;
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}
.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  padding: 2px !important;
}
.popup-map {
  display: block;
}
.popup-map > .heading-popup {
  border-bottom: 1px solid #e8ecef;
}
.popup-map > .owner-popup {
  color: #5a5d82;
}
.fa {
  line-height: inherit;
}

