<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>myVille</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
		<link rel='stylesheet' href='bower_components/ng-dialog/css/ngDialog.css' />
		<link rel='stylesheet' href='bower_components/ng-dialog/css/ngDialog-theme-default.css' />
		<link rel='stylesheet' href='bower_components/leaflet/dist/leaflet.css' />
		<link rel='stylesheet' href='bower_components/leaflet-draw/dist/leaflet.draw.css' />
		<link rel='stylesheet' href='bower_components/intro.js/introjs.css' />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/leaflet-search.css">
		<!-- endbuild -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
	<body ng-app="appApp" ng-cloak="" ng-controller="MainCtrl">
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!--<div class="loading">
			<i class="fa fa-spinner fa-spin"></i>
		</div>-->
		<div id="container" ng-intro-options="IntroOptions" ng-intro-method="startIntro">
			<div class="sidebar">
					<div class="sidebar-wrapper">
						<div class="brand">
						</div>
						<ul>
							<li>
								<a href="/#/" ng-class="{ active: isActive('/') }">
									<i class="fa fa-map-o" aria-hidden="true"></i>
									<span class="text-icon">MAPS</span>
								</a>
							</li>
							<li ng-if="token" id="link-create">
								<a href="/#/createUA" ng-class="{ active: isActive('/createUA') }">
									<i class="fa fa-plus" aria-hidden="true"></i>
									<span class="text-icon">Add mine</span>
								</a>
							</li>
							<li ng-if="token" id="link-mine">
								<a href="/#/profile/mine" ng-class="{ active: isActive('/profile/mine') }">
									<i class="fa fa-thumb-tack" aria-hidden="true"></i>
									<span class="text-icon">Mine</span>
								</a>
							</li>
							<li ng-if="token" id="link-favorite">
								<a href="/#/profile/favorite" ng-class="{ active: isActive('/profile/favorite') }">
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<span class="text-icon">Favorites</span>
								</a>
							</li>
						</ul>
						<div class="user-sidebar">
								<a ng-if="!token" ng-click="login()" ng-class="{ active: isActive('/login') }">
									<i class="fa fa-user" aria-hidden="true"></i>
									<span class="text-icon">Login</span>
								</a>
								<div ng-if="token" class="user-profile">
									<div class="disconnect-user" ng-click="disconnect()"><i class="fa fa-times-circle"></i></div>
									<a href="/#/profile/update">
										<img ng-src="{{user.avatar ? 'http://localhost:3000/static/' + user.avatar : (user.facebook_id) ? 'http://graph.facebook.com/'+ user.facebook_id +'/picture' : 'images/profile-default.png'}}" />
									</a>
								</div>
						</div>
					</div>
			</div>
			<div class="side-sidebar" ng-view="">
			</div>
				<leaflet id="map" width="auto" height="100%" controls="controls" lf-center="center">
				<div class="map-filter-box">
					<div class="heading">
							Affichage
					</div>
					<ul class="filter-list">
						<li>
							<label>
								<form class="searchForm">
										<input type="text" ng-model="searchKey"  placeholder="Recherche Mine" style="width: 70%"/>
										<button type="button" class="glyphicon glyphicon-search" ng-click="search(searchKey)" ng-checked="filters.search" style="margin-left: 1%;"></button>
								</form>
							</label>
						</li>
						<li>
							<label>
								<input class="checkbox" ng-click="selectFilter(0)" ng-checked="filters.all" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Tout
							</label>
						</li>
						<li>
							<label>
								<input class="checkbox" ng-checked="filters.popular" ng-checked="filters.popular" ng-click="selectFilter(1)" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Les plus populaires
							</label>
						</li>
						<li ng-if="token">
							<label>
								<input class="checkbox" ng-click="selectFilter(2)" ng-checked="isActive('/profile/mine') || filters.mine" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Mes propositions
							</label>
						</li>
						<li ng-if="token">
							<label>
								<input class="checkbox" ng-click="selectFilter(3)" ng-checked="isActive('/profile/favorite') || filters.favorite" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Mes favoris
							</label>
						</li>
					</ul>
				</div>
				<div class="create-ua-button">
					<button class='btn-blue' ng-click="submitUA()">J'ai fini !</button>
				</div>
			</leaflet>
		</div>
		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="bower_components/ng-dialog/js/ngDialog.js"></script>
		<script src="bower_components/hello/dist/hello.all.js"></script>
		<script src="bower_components/ng-hello/dist/ng-hello.min.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/tinymce/tinymce.js"></script>
		<script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
		<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
		<script src="bower_components/intro.js/intro.js"></script>
		<script src="bower_components/angular-intro.js/src/angular-intro.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<script src="bower_components/moment/locale/fr.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
		<script src='http://labs.easyblog.it/maps/leaflet-search/dist/leaflet-search.min.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
		<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
		<script src="bower_components/leaflet-draw/dist/leaflet.draw.js"></script>
		<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/services/filterDate.js"></script>
		<script src="scripts/services/hello.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/login.js"></script>
		<script src="scripts/services/myvilleapi.js"></script>
		<script src="scripts/services/authentification.js"></script>
		<script src="scripts/directives/ngloading.js"></script>
		<script src="scripts/directives/collapse-sidebar.js"></script>
		<script src="scripts/controllers/profile.js"></script>
		<script src="scripts/controllers/favorite.js"></script>
		<script src="scripts/controllers/ua.js"></script>
		<script src="scripts/controllers/mine.js"></script>
		<script src="scripts/controllers/editua.js"></script>
		<script src="scripts/controllers/vote.js"></script>
		<!-- endbuild -->

</body>
</html>
