<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>myVille</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
		<link rel='stylesheet' href='bower_components/ng-dialog/css/ngDialog.css' />
		<link rel='stylesheet' href='bower_components/ng-dialog/css/ngDialog-theme-default.css' />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
	<body ng-app="appApp" ng-cloak="">
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!--<div class="loading">
			<i class="fa fa-spinner fa-spin"></i>
		</div>-->
		<div id="container" ng-controller="MainCtrl">
			<div class="sidebar">
					<div class="sidebar-wrapper">
						<div class="brand">
							<i class="fa fa-building"></i>
						</div>
						<ul>
							<li>
								<a href="/#/" ng-class="{ active: isActive('/') }">
									<i class="fa fa-map-o" aria-hidden="true"></i>
									<span class="text-icon">MAPS</span>
								</a>
							</li>
							<li ng-if="token">
								<a href="/#/" ng-class="{ active: isActive('/add') }">
									<i class="fa fa-plus" aria-hidden="true"></i>
									<span class="text-icon">Add mine</span>
								</a>
							</li>
							<li ng-if="token">
								<a href="/#/profile/mine" ng-class="{ active: isActive('/mine') }">
									<i class="fa fa-thumb-tack" aria-hidden="true"></i>
									<span class="text-icon">Mine</span>
								</a>
							</li>
						</ul>
						<div class="user-sidebar">
								<a ng-if="!token" ng-click="login()" ng-class="{ active: isActive('/login') }">
									<i class="fa fa-user" aria-hidden="true"></i>
									<span class="text-icon">Login</span>
								</a>
								<div ng-if="token" class="user-profile">
									<div class="disconnect-user" ng-click="disconnect()"><i class="fa fa-times-circle"></i></div>
									<a href="/#/profile/update">
										<img ng-src="{{user.avatar ? user.avatar : (user.facebook_id) ? 'http://graph.facebook.com/'+ user.facebook_id +'/picture' : 'images/profile-default.png'}}" />
									</a>
								</div>
						</div>
					</div>
			</div>
			<div class="side-sidebar" ng-view="">
			</div>
			<leaflet id="map" width="auto" height="100%" lf-center="center">
				<div class="map-filter-box">
					<div class="heading">
							Affichage
					</div>
					<ul class="filter-list">
						<li>
							<label>
								<input class="checkbox" ng-model="filters.popular" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Les plus populaires
							</label>
						</li>
						<li>
							<label>
								<input class="checkbox" ng-model="filters.mine" type="checkbox" />
								<span class="fakeCheckbox"></span>
								Mes propositions
							</label>
						</li>
					</ul>
				</div>
			</leaflet>
		</div>
		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="bower_components/ng-dialog/js/ngDialog.js"></script>
		<script src="bower_components/hello/dist/hello.all.min.js"></script>
		<script src="bower_components/ng-hello/dist/ng-hello.min.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<!-- endbower -->
		<!-- endbuild -->
		<script src="bower_components/moment/locale/fr.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
		<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/services/hello.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/login.js"></script>
		<script src="scripts/controllers/account.js"></script>
		<script src="scripts/services/myvilleapi.js"></script>
		<script src="scripts/services/authentification.js"></script>
		<script src="scripts/directives/ngloading.js"></script>
		<script src="scripts/directives/collapse-sidebar.js"></script>
		<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/mine.js"></script>
		<!-- endbuild -->
</body>
</html>
