<div class="login-side" heading-title="Création d'une UA" >

    <div ng-if="message">
      {{message}}
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <input type="text" ng-model="ua.author" placeholder="Author" />
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        <form> 
          <textarea rows="5" cols="48" ng-model="ua.desc" placeholder="Description" />
        </form>  
      </div>
      <div class="input-group">
      <button ng-click="getLocal()"> Localisation </button>
        <ul>
          <li>Coord X <input max-width="70px" ng-model="ua.geox" /></li>
          <li>Coord Y <input max-width="70px" ng-model="ua.geoy" /></li>
        </ul>  
      </div>
      <input type="checkbox" checked="false" class="checkbox-input" ng-model="ua.mode" /> Rendre l'UA privé
    </div>

    <button class='btn-blue' ng-click="submit()">Create</button>
    
  </div>