<collapse-sidebar id="myGroup" heading-title="Liste des groupes">
  <div id="Group" class="nav nav-pills nav-justified">
	   <li ng-class="activeTab('mygroups','head')">
       <a href="/#/profile/group/#mygroups" ng-click="changeTab('mygroups')" data-toggle="tab">Mes Groupes</a>
	   </li>
	   <li  ng-class="activeTab('recherche','head')">
       <a href="/#/profile/group/#recherche" ng-click="changeTab('recherche')" data-toggle="tab">Recherche</a>
     </li>
     <li  ng-class="activeTab('messages','head')">
       <a href="/#/profile/group/#messages" ng-click="changeTab('messages')" data-toggle="tab">Messages<span class="badge badge-info">{{nonVu()}}</span></a>
     </li>
  </div>
  <div id="groupContent" class="tab-content">
    <div ng-class="activeTab('mygroups','body')" id="mygroups">
      <div class="list-ua">
        <div class="ua-row">
          <a href="/#/profile/create_group" ng-class="{ active: isActive('/profile/create_group') }" class="fa fa-plus-square">
              Créer un groupe
          </a>
        </div>
        <div class="ua-row" ng-if="myGroups.length < 1">
    			<div>
    				Il n'y a rien pour l'instant 😞
    			</div>
    		</div>
        <div class="ua-row" ng-repeat="group in myGroups">
          <div class="btn-group">
            <i class="fa fa-bell-o" data-placement="bottom" data-toggle="dropdown" aria-hidden="true" ng-style="{{roleInGroup(group)}}" ng-attr-title="{{roleTitle(group)}}"></i>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Demande de droit</li>
              <li ng-click="demandeDroit({roleNow:roleTitle(group),roleAsk:'admin',group:group})">admin</li>
              <li ng-click="demandeDroit({roleNow:roleTitle(group),roleAsk:'ecrivain',group:group})">écrivain</li>
            </ul>
          </div>
          <div class="row-title">
            <a href="/#/profile/edit_group" ng-class="{ active: isActive('/profile/edit_group') }" ng-mouseover="editGroup(group)">{{group.name}}</a>
          </div>
          <div class="row-date">
            {{group.createdAt | formatDate}}
          </div>
          <div class="row-edit" ng-click="quitGroup(group)">
  				      <a title="Quitter le groupe" class="fa fa-minus-circle"></a>
  			  </div>
        </div>
      </div>
    </div>
    <div ng-class="activeTab('recherche','body')" id="recherche">
      <div class="list-ua">
        <div  class="ua-row" >
          <form class="searchForm">
              <input type="text" ng-model="searchKeyG" ng-change="searchGroup(searchKeyG)"  placeholder="Recherche Groupe"/>
          </form>
        </div>
        <div class="ua-row" ng-repeat="group in groupSearch">
          <div class="row-title">
            <i>{{group.name}}</i>
          </div>
          <div class="row-date">
            {{group.createdAt | formatDate}}
          </div>
          <div class="row-edit" ng-if="!userGroupe(group)" ng-click="GetInGroup(group)">
            <a title="Rejoindre le groupe" class="fa fa-user-plus"></a>
          </div>
          <div ng-if="userGroupe(group)"  class="row-edit" ng-click="quitGroup(group)">
                <a title="Quitter le groupe" class="fa fa-minus-circle"></a>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="activeTab('messages','body')" id="messages">
      <div class="list-ua">
        <div  class="ua-row" ng-repeat="message in messages">
          {{message.de}} vous avez demandé de prendre le droit de {{demandeRole(message)}} pour le group {{message.groupNom}}
          <div  ng-if="!message.vu">
          <button type="button" class="btn btn-success" ng-click="decision({decision:'accepter',message:message})">Accepter</button>
          <button type="button" class="btn btn-danger" ng-click="decision({decision:'rejecter',message:message})">Rejecter</button>
        </div>
        <div ng-if="message.vu" style="color:grey">déja traité</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="alert alert-success" role="alert">
    <strong>Vous avez envoyé le demande avec succès</strong>
  </div>
  <div class="alert  alert-warning" role="alert">
    <strong>Désolée, il y a une erreur</strong>
  </div> -->
</collapse-sidebar>
