<div class="wrapper-side-sidebar">
  <div class="heading-side">
    <a href="/#/"><i class="fa fa-chevron-left back"></i></a>
    <div class="heading-title">
    Login
    </div>
  </div>
  <div class="content-side">
    <div ng-if="message">
    {{message}}
    </div>
    <h1>Username</h1>
    <input type="text" ng-model="user.username" placeholder="Username" />
    <h1>Password</h1>
    <input type="password" ng-model="user.password" placeholder="Password" />
    <button class='btn-blue' ng-click="loginClick()">Login</button>
  </div>
</div>
