<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

    </head>

    <body>
    	<h1>Mes UAs</h1>
	        <h2>Ville :</h2>
	        	<li>
		        	<p>UA 1 :</p>
		        	<input type="button" value="Voir fiche">
		        	<input type="button" value="Editer" onclick="alert('Voulez vous editer votre UA ?')"> 
		        	<input type="button" value="Publier" onclick="alert('Voulez vous publier votre UA ?')"> 
		        	<input type="button" value="Supprimer" onclick="alert('Voulez vous supprimer votre UA ?')">
		        	  

		        	<p>UA 2 :</p>
		        	<input type="button" value="Voir fiche">
		        	<input type="button" value="Editer" onclick="alert('Voulez vous editer votre UA ?')"> 
		        	<input type="button" value="Publier" onclick="alert('Voulez vous publier votre UA ?')"> 
		        	<input type="button" value="Supprimer" onclick="alert('Voulez vous supprimer votre UA ?')">

	        	</li>
	        	
	        <h2>Ville :</h2>

    </body>

</html>